* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.clr {
    clear: both;
}

.container {
    width: 80%;
    margin: auto;
}

img {
    width: 100%;
}
 


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home {
    height: 700px;
    background-image: url(../img/drew-coffman-1872.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat ;
    overflow: hidden;
}
.home .text { 
    text-align: center;
    margin-top: 200px;
    color: #fff  !important;
}
.home .text h1 {
    font-size: 76px;
}
.home .text .btn {
   padding: 15px 30px;
   background-color: #8e7754;
   border: 1px solid #fff;
   margin-top: 20px;
   color: #fff;
   font-size: 20px;
}
.container ._2nd{
    padding: 85px 0px;
}
.container ._2nd .cont{
padding: 20px;
width: 50%;
float: left;
}
.container ._2nd .cont p {
    font-family: "Alegreya Sans";
    font-size: 17px;
    padding: 20px;
    padding-top: 15px;
}
.container ._2nd .cont h2{
    font-family: "Alegreya";
    font-size: 1.5rem;
    color: #303030;
    line-height: 1.38em;
    margin-bottom: 25px;
    font-weight: 400;
}
.container ._3rd{
    padding: 75px 0px;
    background-color: #f8f8f8;
}
.container  ._3rd .cont{
   
width: 50%;
float: left;
}
.container  ._3rd .cont h2,p{
    font-family: "Alegreya Sans";
    font-size: 15px;
    padding: 10px 20px;
    color: #686868;
}
.container  ._3rd .cont h2{
    font-size: 23px;
    color: #373a3c;
}
.container ._4th{
    padding: 75px 0px;
    text-align: center;
}

.container ._4th .contentt{
    padding: 20px;
    width: 33.33%;
    float: left;
}
.container ._4th .contentt h2{
    font-size: 23px;
    color: #373a3c;
}
.container ._4th .contennt h2{
    font-size: 23px;
    color: #373a3c;
}
.container ._5th {
    padding: 75px 0px;
}
.container ._5th .cont{
    width: 50%;
    float: left;
    padding: 20px;
    text-align: left;
}
.container ._5th .cont .cont{
    width: 100%;
}

.container ._5th .cont .cont .list{
    list-style: none;
    
}
.container ._5th .cont .contt{
    padding: 15px ;
    font-family: "Alegreya Sans";
    font-size: 15px;
    padding: 10px 20px;
    color: #686868;


}
.container ._5th .cont .cont .list li{
    padding: 15px ;
    padding: 15px ;
    font-family: "Alegreya Sans";
    font-size: 15px;
    padding: 10px 20px;
    color: #686868;
}

